@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;600;700&display=swap');
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Spartan', sans-serif;
    font-size: $fontSize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a, a:hover, a:visited {
    color: inherit;
    background-color: none;
    border: none;
    outline: none;
    text-decoration: none;
}

button, button:focus, button:hover {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    cursor: pointer;
  }

.btn {
    color: $black;
    border: $darkerGray 2px solid;
    padding: .7em;
    transition: background-color .2s ease-in, color .2s ease-in;
}

.btn:hover {
    background-color: $darkerGray;
    color: $white;
    border: $darkerGray 2px solid;
}

.btn:focus {
    background-color: $black;
    color: $white;
    border: $black 2px solid;
}